:root{
    --fondo-principal: #12131A;
    --fondo-cards-textarea:#1C1F2A;
    --texto-principal: #F2F2F7;
    --texto-secundario: #B4B7C9;
    --progress-bar: #D19BFF;
    --bordes-sutiles: #2A2D3A;
    --tipografia: "Space Grotesk", sans-serif;
}